#homeheader{
    
    color: white;
    
    text-align: center;
    
    background-color: gray;
    
}     
    
#weeks{
    
    color: white;
    
    text-align: center;
    
    background-color: gray;
    
}
